body {
    margin: 0;
    font-family: Georgia;
    background: #DCFFE3;
}


/* Styling for navbar */
.topnav {
    overflow: hidden;
    background-color: #B0EBBD;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 0;
    width: 100%;
    transition: 1s;
    height: 60px;
    margin-top: -4px;
}

.topnav a {
    float: left;
    display: block;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Adding hover effect */
.topnav a:hover {
    color: #00A99D;
}

.topnav .home {
    font-size: 27.2px;
    padding-top: 15px;
}

.active {
    color: white;
    padding-right: 20px;
}

.topnav .icon {
    display: none;
}


/* Styling for mascot */
#mas-img {
  float: left;
  width: 25%;
  height: 2%;
  margin-left: -2%;
  margin-top: 3%;
}

/* Styling for welcome message */
#welcomemessage{
    width: 67%;
    height:auto;
    display: block;
    border-color: black;
    background-color: #A2CE63;
    color: #233C00;
    margin-left:12%;
    margin-right:10%;
    margin-top: 3%;
    padding: 10px 3%;
    border-radius: 5px;
}

#logo {
    height: 37px;
    width: 143px;
}

#welcomemessage h2{
    margin-top: 2%;
    margin-bottom: 0.76%;
    font-size: 25px;
    color: white;
}

#welcomemessage h4{
    margin-top: 0.76%;
    font-size: 15.63px;
    margin-bottom: 2%;
}

#welcomemessage .btn{
    font-size: 15.63px;
    margin-top: 1%;
    margin-bottom: 0;
}


/* Styling for campgrounds */
#campgrounds {
    width: 80%;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
}

.btn {
    background-color: #233C00;
    display: inline-block;
    padding: 1%;
    border-radius: 4px;
    color: white;
    transition: 1s;
    border: 1px solid #b6ba2d;
    margin-top: 10px;
    margin-bottom: 6.5px;
    /* margin-left: 23%; */
}

.btn:hover {
    background-color: white;
    color: #b6ba2d;
    border: 1px solid #b6ba2d;
}

.camp-name {
    color: #233C00;
    margin-top: 19px;
    margin-bottom: 11.875px;
}

.thumbnail {
    background: #f6e8b1;
    position: relative;
    width: 20%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 1%;
    text-align: center;
    display: inline-block;
    border: 0.5px solid #233C00;
    border-style: solid;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 32px;
}

.thumbnail img {
    border: 0.5px solid #233C00;
    border-radius: 4px;
    width: 95%;
    height: auto;
}

.thumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(82, 126, 31, 0.5);
}

.footer {
    overflow: hidden;
    background-color: #B0EBBD;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
}


/* Adding Responsiveness via media queries */
@media screen and (max-width: 600px) {
    .thumbnail {
        width:42%;
        text-align: center;
    }

    #welcomemessage {
        text-align: center;

    }
    #welcomemessage h2{
        padding-bottom: 6px;
    }

    .topnav {
        height: 53px;
    }

    .topnav a {
        font-size: 16px;
        padding-left: 4px;
        padding-right: 10px;
        color: #28B6A3;
    }

    .topnav .home{
        font-size: 22px;
    }

    h4{
        font-size: 15px;
    }
}
